section.hero__image
	picture
		source(srcset='img/og/cliff-house-1902_og_lg.jpg' media='(min-width: 1200px)')
		source(srcset='img/og/cliff-house-1902_og_md.jpg' media='(min-width: 800px)')
		source(srcset='img/og/cliff-house-1902_og_sm.jpg' media='(min-width: 401px)')
		img(srcset='img/og/cliff-house-1902_og_xs.jpg' alt='Cliff House 1902, black and white')