section.hero__image
	picture
		source(scrset='img/og/cliff-house_1902_og_xl.jpg' media='(min-width: 1601px)')
		source(srcset='img/og/cliff-house-1902_og_lg.jpg' media='(min-width: 1201px)')
		source(srcset='img/og/cliff-house-1902_og_md.jpg' media='(min-width: 801px)')
		source(srcset='img/og/cliff-house-1902_og_sm.jpg' media='(min-width: 401px)')
		img(srcset='img/og/cliff-house-1902_og_xs.jpg' alt='Cliff House 1902, black and white')