.hero-og-text
	a.hero-og-text__link(href='https://commons.wikimedia.org/wiki/File:%22Cliff_House_and_Seal_Rocks.%22_-_NARA_-_520071.jpg')
		svg.hero-og-text__link--svg(viewBox='0 0 100 30', preserveAspectRatio='none')
				use(xlink:href='../svgs/defs.svg#svg-og-title-back')
		h4.hero-og-text__link--title CLIFF HOUSE.1902
		h5.hero-og-text__link--city San Francisco
		h6.hero-og-text__link--wikicommons wikipedia commons