section.hero-right
	.hero-right__top
		svg.hero-right__top--svg(viewBox='0 0 1 1', preserveAspectRatio='none')
			use(xlink:href='../svgs/defs.svg#svg-square')
	.hero-right__bottom
		svg.hero-right__bottom--svg(viewBox='0 0 1 1', preserveAspectRatio='none')
			use(xlink:href='../svgs/defs.svg#svg-square')