section.paintings-image
		picture
			source(scrset='./img/paintings/019-cliff-house-1902/019-cliff-house-1902x1600.jpg' media='(min-width: 1601px)')
			source(srcset='./img/paintings/019-cliff-house-1902/019-cliff-house-1902x1200.jpg' media='(min-width: 1201px)')
			source(srcset='./img/paintings/019-cliff-house-1902/019-cliff-house-1902x800.jpg' media='(min-width: 801px)')
			source(srcset='./img/paintings/019-cliff-house-1902/019-cliff-house-1902x800.jpg' media='(min-width: 401px)')
			img(srcset='./img/paintings/019-cliff-house-1902/019-cliff-house-1902x400.jpg' alt='Cliff House 1902')