.paintings-info-container
	section.paintings-text

		.react.paintings-text__title
		.paintings-text__city San Francisco
		.paintings-text__info 16" x 16" | 2015
		.paintings-text__story In 1896, Adolph Sutro built a new Cliff House, a seven story Victorian Chateau, called by some "the Gingerbread Palace".  This version Cliff House survived the 1906 earthquake with little damage, but burned to the ground on the evening of September 7, 1907.

	section.paintings-links

			a.paintings-links__link(href='#')
				svg.paintings-links__link--magnify(viewBox='0 0 40 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-magnify')

			a.paintings-links__link(href='#')
				svg.paintings-links__link--pinterest(viewBox='0 0 40 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-pinterest')

			a.paintings-links__link(href='#')
				svg.paintings-links__link--etsy(viewBox='0 0 40 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-etsy')