section.paintings-loop
	.paintings-loop__left
		svg.icon(viewBox='0 0 50 700' preserveAspectRatio='none')
			use(xlink:href='../svgs/defs.svg#svg-side-one')

	.paintings-loop__container
		include paintings-image.jade
		include paintings-text.jade
		include paintings-links.jade

	.paintings-loop__right
		svg.icon(viewBox='0 0 50 700' preserveAspectRatio='none')
			use(xlink:href='../svgs/defs.svg#svg-side-one')