section.paintings-loop
	.paintings-loop__left
		svg.paintings-loop__left--svg(viewBox='0 0 50 700' preserveAspectRatio='none')
			use(xlink:href='../svgs/defs.svg#svg-side-one')

	.paintings-loop-container
		include paintings-text.jade
		include paintings-image.jade

	.paintings-loop__right
		svg.paintings-loop__right--svg(viewBox='0 0 50 700' preserveAspectRatio='none')
			use(xlink:href='../svgs/defs.svg#svg-side-two')