.history_title
	width: 100%
	margin: 5% auto 0
	padding: 10 0 0 0
	display: flex
	flex-direction: column
	align-content: center
	display: block

	.title_top
		width: 100%
		display: flex
		flex-direction: row
		justify-content: center

		+svg-height($sm-letters, 28, 40, 'a')

		.a
			+svg-responsive(28, 40, 'a')
			svg
				fill: $red

	.title_mid
		width: 100%
		display: flex
		flex-direction: row
		justify-content: center
		margin: 10px 0

		.letter
			width: 20%

		+svg-height($sm-letters, 38.05, 40, 'c')
		
		.c
			+svg-responsive(38.05, 40, 'c')
			svg
				fill: $orange

		+svg-height($sm-letters, 39.02, 40, 'o')

		.o
			+svg-responsive(39.02, 40, 'o')
			svg
				fill: $yellow

		+svg-height($sm-letters, 20, 40, 'l')

		.l
			+svg-responsive(20, 40, 'l')
			svg
				fill: $olive

		+svg-height($sm-letters, 39.02, 40, 'o')

		.o2
			+svg-responsive(39.02, 40, 'o')
			svg
				fill: $green

		+svg-height($sm-letters, 23, 40, 'r')

		.r
			+svg-responsive(23, 40, 'r')
			svg
				fill: $tourquise

		+svg-height($sm-letters, 20, 40, 'f')

		.f
			+svg-responsive(20, 40, 'f')
			svg
				fill: $cyan

		+svg-height($sm-letters, 23, 40, 'u')

		.u
			+svg-responsive(23, 40, 'u')
			svg
				fill: $blue

		+svg-height($sm-letters, 20, 40, 'l')

		.l2
			+svg-responsive(20, 40, 'l')
			svg
				fill: $purple

	.title_bot
		width: 100%
		display: flex
		flex-direction: row
		justify-content: center

		.letter
			width: 20%

		svg
			fill: rgba(0,0,0,0.5)
			stroke: white
			stroke-width: 0.5

		.h
			+svg-responsive(23, 40, 'h')

		.i
			+svg-responsive(15, 40, 'i')

		.s
			+svg-responsive(15.61, 40, 's')

		.t
			+svg-responsive(23, 40, 't')

		.o3
			+svg-responsive(39.02, 40, 'o')

		.r2
			+svg-responsive(23, 40, 'r')

		.y
			+svg-responsive(27, 40, 'y')

// ICON STYLING

.icon
	display: inline-block
	position: absolute
	top: 0
	left: 0