.history-title
	section.history-title__top
		.history-title__letter.history-title__letter--a
			.history-title__svg-container.history-title__svg-container--a
				svg(viewBox='0 0 28 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-a')

	section.history-title__mid
		.history-title__letter.history-title__letter--c
			.history-title__svg-container.history-title__svg-container--c
				svg.icon(viewBox='0 0 38.05 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-c')
		.history-title__letter.history-title__letter--o
			.history-title__svg-container.history-title__svg-container--o
				svg.icon(viewBox='0 0 39.02 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-o')
		.history-title__letter.history-title__letter--l
			.history-title__svg-container.history-title__svg-container--l
				svg.icon(viewBox='0 0 20 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-l')
		.history-title__letter.history-title__letter--o2
			.history-title__svg-container.history-title__svg-container--o2
				svg.icon(viewBox='0 0 39.02 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-o')
		.history-title__letter.history-title__letter--r
			.history-title__svg-container.history-title__svg-container--r
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-r')
		.history-title__letter.history-title__letter--f
			.history-title__svg-container.history-title__svg-container--f
				svg.icon(viewBox='0 0 20 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-f')
		.history-title__letter.history-title__letter--u
			.history-title__svg-container.history-title__svg-container--u
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-u')
		.history-title__letter.history-title__letter--l2
			.history-title__svg-container.history-title__svg-container--l2
				svg.icon(viewBox='0 0 20 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-l')

	section.history-title__bot
		.history-title__letter.history-title__letter--h
			.history-title__svg-container.history-title__svg-container--h
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-h')
		.history-title__letter.history-title__letter--i
			.history-title__svg-container.history-title__svg-container--i
				svg.icon(viewBox='0 0 15 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-i')
		.history-title__letter.history-title__letter--s
			.history-title__svg-container.history-title__svg-container--s
				svg.icon(viewBox='0 0 15.61 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-s')
		.history-title__letter.history-title__letter--t
			.history-title__svg-container.history-title__svg-container--t
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-t')
		.history-title__letter.history-title__letter--o3
			.history-title__svg-container.history-title__svg-container--o3
				svg.icon(viewBox='0 0 39.02 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-o')
		.history-title__letter.history-title__letter--r2
			.history-title__svg-container.history-title__svg-container--r2
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-r')
		.history-title__letter.history-title__letter--y
			.history-title__svg-container.history-title__svg-container--y
				svg.icon(viewBox='0 0 27 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-y')