.paintings-top
	width: 100%
	display: flex
	flex-direction: row

	+e('left')
		display: none
		background: $grey-one

		+breakpoint(md)
			display: block
			width: 5%

		svg
			width: 100%
			fill: $yellow-light

	+e('angle')
		width: 100%

		+breakpoint(md)
			width: 90%

		svg
			width: 101%
			overflow: hidden
			fill: $grey-one

	+e('right')
		display: none
		background: $grey-one

		+breakpoint(md)
			display: block
			width: 5%
		
		svg
			width: 100%
			fill: $tourquise-light
