.paintings-top
	width: 100%
	display: flex
	flex-direction: row
	margin: 0 0 -7px
	align-items: stretch
	justify-content: center

	+e('left')
		display: none
		background: $grey-one

		+breakpoint(md)
			display: block
			width: 5%
			position: relative
			z-index: 602

		svg
			width: 100%
			position: absolute
			height: 100%

	+e('angle')
		width: 100%
		padding-bottom: 16.7%
		position: relative

		+breakpoint(md)
			width: 90%
			padding-bottom: 15.1%

		svg
			width: 100.1%
			overflow: hidden
			fill: $grey-one

		+m('heading')
			display: none

			+breakpoint(md)
				display: block
				+font-size(30px)
				text-transform: uppercase
				letter-spacing: 0.03em
				color: #000
				font-weight: 700
				position: absolute
				z-index: 1000
				top: 25%
				left: 5%
				border-bottom: 1px solid #444

	+e('right')
		display: none
		background: $grey-one

		+breakpoint(md)
			display: block
			width: 5%
			position: relative
			z-index: 602
		
		svg
			width: 100%
			position: absolute
			height: 100%