.paintings-links
	display: flex
	flex-direction: row
	position: relative
	align-items: flex-end
	margin: 0 4% 2% 0

	+breakpoint(md)
		

	+e('link')
		width: 30px
		height: 30px
		margin: 0 10px 0 0
		text-decoration: none

		+breakpoint(md)
			width: 20px
			height: 20px

		+m('magnify')
			fill: $magnify-color

		+m('pinterest')
			fill: $pinterest-color

		+m('etsy')
			fill: $etsy-color