.paintings-top
	width: 100%
	display: flex
	flex-direction: row
	margin: 0 0 -7px
	align-items: stretch
	justify-content: center

	+e('left')
		display: none
		background: $grey-one

		+breakpoint(md)
			display: block
			width: 5%
			position: relative
			z-index: 602

		svg
			width: 100%
			position: absolute
			height: 100%

	+e('angle')
		width: 100%
		padding-bottom: 16.7%
		position: relative

		+breakpoint(md)
			width: 90%
			padding-bottom: 15.1%

		svg
			width: 100.1%
			overflow: hidden
			fill: $grey-one

	+e('right')
		display: none
		background: $grey-one

		+breakpoint(md)
			display: block
			width: 5%
			position: relative
			z-index: 602
		
		svg
			width: 100%
			position: absolute
			height: 100%