.history_title
	section.title_top
		.a.letter-a
			.svg-container.svg-container-a
				svg.icon(viewBox='0 0 28 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-a')
	section.title_mid
		.c.letter-c
			.svg-container.svg-container-c
				svg.icon(viewBox='0 0 38.05 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-c')
		.o.letter-o
			.svg-container.svg-container-o
				svg.icon(viewBox='0 0 39.02 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-o')
		.l.letter-l
			.svg-container.svg-container-l
				svg.icon(viewBox='0 0 20 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-l')
		.o2.letter-o
			.svg-container.svg-container-o
				svg.icon(viewBox='0 0 39.02 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-o')
		.r.letter-r
			.svg-container.svg-container-r
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-r')
		.f.letter-f
			.svg-container.svg-container-f
				svg.icon(viewBox='0 0 20 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-f')
		.u.letter-u
			.svg-container.svg-container-u
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-u')
		.l2.letter-l
			.svg-container.svg-container-l
				svg.icon(viewBox='0 0 20 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-l')
	section.title_bot
		.h.letter
			.svg-container.svg-container-h
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-h')
		.i.letter
			.svg-container.svg-container-i
				svg.icon(viewBox='0 0 15 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-i')
		.s.letter
			.svg-container.svg-container-s
				svg.icon(viewBox='0 0 15.61 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-s')
		.t.letter
			.svg-container.svg-container-t
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-t')
		.o3.letter
			.svg-container.svg-container-o
				svg.icon(viewBox='0 0 39.02 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-o')
		.r2.letter
			.svg-container.svg-container-r
				svg.icon(viewBox='0 0 23 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-r')
		.y.letter
			.svg-container.svg-container-y
				svg.icon(viewBox='0 0 27 40' preserveAspectRatio='xMinYMin meet')
					use(xlink:href='../svgs/defs.svg#svg-y')