.title_wrap
	.history_title
		section.title_top
			.a
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-a')
		section.title_mid
			.c
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-c')
			.o
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-o')
			.l
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-l')
			.o2
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-o')
			.r
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-r')
			.f
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-f')
			.u
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-u')
			.l2
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-l')
		section.title_bot
			.h
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-h')
			.i
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-i')
			.s
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-s')
			.t
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-t')
			.o3
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-o')
			.r2
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-r')
			.y
				svg.icon
					use(xlink:href='../svgs/defs.svg#svg-y')