section.hero
	include hero_components/hero_left.jade

	include hero_components/hero_image.jade
	include hero_components/hero_title.jade
	include hero_components/hero_blackbox.jade
	include hero_components/hero_text.jade
	include hero_components/hero_og-text.jade
	include hero_components/hero_nav.jade
	
	include hero_components/hero_right.jade