section.hero
	.hero_wrap
	include hero_title.jade
	.hero_text
		.hero_main Historical Photos and Acrylic on Canvas 
		.hero_by by Bernard John Bolter IV
		ul.nav
			li.about_nav
				.about_nav_text.nav_text about
			li.contact_nav 
				.contact_nav_text.nav_text contact
			li.paintings_nav
				.painting_nav_text.nav_text paintings