doctype html
html
	head
		title Smooth Simple
		link(rel='stylesheet', href='./css/style.css')
	body
		h1 How do we make it, now?
		p We make it Smooth.
		include smooth_logo.jade
		#smooth
		script(type='text/javascript', src='./js/bundle.js')