doctype html
html
	head
		title A Colorful History
		link(rel='stylesheet', href='./css/style.css')
	body
		include hero.jade
		include paintings.jade
		include about.jade
		script(type='text/javascript', src='./js/bundle.js')