doctype html
html
	head
		title A Colorful History
		link(rel='stylesheet', href='./css/style.css')
		link(href='https://fonts.googleapis.com/css?family=Oswald:400,700,300', rel='stylesheet', type='text/css')
	body
		include hero.jade
		include paintings.jade
		script(type='text/javascript', src='./js/bundle.js')