ul.smooth_box
	li.s1
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-s')
	li.m1
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-m')
	li.o1
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-o')
	li.o2
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-o')
	li.t
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-t')
	li.h
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-h')
	li.i
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-i')
	li.s2
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-s')
	li.m2
		svg.icon
			use(xlink:href='./svgs/defs.svg#svg-m')