.about 
	display: block

	.about-container
		position: fixed
		top: 0
		left: -100%
		z-index: 610
		width: 90%
		height: 100%
		background: rgba(255,255,255,0.94)
		transition: .4s ease all
		padding: 5%

		p
			+font-size(15px)
			color: rgba(0,0,0,0.9)
			font-weight: 300
			line-height: 1.5
			font-family: $font-secondary


		+breakpoint(md)
			width: 50%
			left: -60%
			padding: 5%

			p
				+font-size(18px)

	.visible
		left: 0

	.about__close 
		text-align: right
		+font-size(30px)
		padding: 0 10px
		cursor: pointer
		font-family: $font-primary
		color: black
		margin: 0
		font-weight: 200