.hero-nav
	position: relative
	display: flex
	flex-direction: row
	align-items: center
	width: 40%
	margin: 4% 0 0 60%

	+e('navigation')
		list-style: none
		text-align: left
		margin: 0
		padding: 10px 5px 50px
		background: rgba(255,255,255,0.5)

		li
			margin: 0 10px
			text-decoration: none
			font-family: $font-primary
			font-weight: 400
			color: #333
			+font-size(16px)
			cursor: pointer
			text-transform: uppercase