.hero-right
	position: absolute
	top: 0
	right: 0
	z-index: 300
	display: none
	width: 5%

	+breakpoint(md)
		display: block

		+e('top')
			top: 0

			+m('svg')
				position: absolute
				width: 100%
				height: 217px 
				fill: $blue-dark

		+e('bottom')
			top: 220px
			position: absolute
			width: 100%

			+breakpoint(lg)
				top: 245px

			+m('svg')
				width: 100%
				margin: -4px 0 0 0
				height: 184px
				fill: $purple

	+breakpoint(lg)
		+e('top')
			+m('svg')
				height: 245px

		+e('bottom')
			top: 245px
			
			+m('svg')
				height: 210px

	+breakpoint(xl)
		+e('top')
			+m('svg')
				height: 270px

		+e('bottom')
			top: 270px

			+m('svg')
			 height: 235px

.hero-left
	position: absolute
	top: 0
	left: 0
	width: 5%
	display: none
	z-index: 300

	+breakpoint(md)
		display: block

		+e('left-svg')
			width: 100%
			height: 400px
			fill: $green

	+breakpoint(lg)
		+e('left-svg')
			height: 450px

	+breakpoint(xl)
		+e('left-svg')
			height: 500px

.hero-shade
	position: absolute
	top: 0
	width: 100%

	+e('black-box')
		fill: rgba(0,0,0,0.2)
		width: 100%
		height: 700px

		+breakpoint(md)
			fill: rgba(0,0,0,0.4)
			display: block
			top: 0
			width: 40%
			margin: 0 0 0 60%
			z-index: 200
			height: 260px

		+breakpoint(lg)
			height: 290px

		+breakpoint(xl)
		 height: 320px