.hero-og-text
	position: absolute
	display: inline-block
	left: 0
	width: 160px
	margin: 0
	top: 1%

	+breakpoint(sm)
		top: 3%

	+breakpoint(md)
		top: 300px
		margin: 0 0 0 3%
		opacity: 0.5

	+breakpoint(lg)
		top: 325px

	+breakpoint(xl)
		top: 350px

	+e('link')
		text-decoration: none
		width: 100%
		opacity: 0.3

		&:hover
			opacity: 0.8

		+m('svg')
			width: 100%
			fill: rgba(255,255,255,0.5)
			height: 75px

		+m('title')
			text-align: right
			font-family: $font-primary
			+font-size(14px)
			font-weight: 400
			color: #222
			margin: 0
			position: absolute
			top: 10px
			right: 10px

		+m('city') 
			text-align: right
			font-family: $font-secondary
			+font-size(10px)
			font-weight: 200
			color: #444
			margin: 0
			position: absolute
			top: 28px
			right: 10px

		+m('wikicommons')
			text-align: right
			font-family: $font-secondary
			+font-size(8px)
			font-weight: 200
			color: #999
			margin: 0
			position: absolute
			top: 42px
			right: 10px
			width: 50px
			line-height: 0.8
