.hero-og-text
	position: absolute
	display: inline-block
	left: 0
	width: 160px
	opacity: 0.3
	margin: 0
	top: 1%

	+breakpoint(sm)
		top: 3%

	+breakpoint(md)
		top: 300px
		margin: 0 0 0 3%
		opacity: 0.5

	+breakpoint(lg)
		top: 325px

	+breakpoint(xl)
		top: 350px

	+e('svg')
		width: 100%
		fill: rgba(255,255,255,0.5)
		height: 75px

	+e('title')
		text-align: right
		font-family: $font-primary
		+font-size(14px)
		font-weight: 400
		color: #222
		margin: 0
		position: absolute
		top: 12px
		right: 10px

	+e('city') 
		text-align: right
		font-family: $font-secondary
		+font-size(10px)
		font-weight: 200
		color: #444
		margin: 0
		position: absolute
		top: 33px
		right: 10px